use Mix.Config

# Configure the secret key used to encrypt and decrypt network traffic.
# The value is a 32-byte binary.
config :tvipt, secret_key: <<0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0>>